.tip{
    font-size: larger;
    color: dimgrey;
}

.ag-theme-balham{
    font-size: large;
}

.cards-container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.search-container{
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}

.search-container .search-btn{
    margin-left: 2px;
}

.country-badge{
    margin-right: 5px;
}

.country-search{
    /* width: 580px; */
    width: fit-content;
}

.population-label{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 2px;
}

.population-select{
    /* width: 100px; */
    width: fit-content;
    margin-left: 2px;
}