.tip{
    font-size: larger;
    color: dimgrey;
}

.ag-theme-balham{
    font-size: large;
}

.cards-container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.search-container{
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}

.search-container .search-btn{
    margin-left: 2px;
}