.hero-container{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url('../images/volcano-hero.jpg') center no-repeat; */
}

.hero-container > h1 {
    color: black;
    font-size: 60px;
    /* margin-top: -400px; */
  }

  .hero-container .hero-login{
      margin: 10px;
  }

  .hero-container .discover{
      margin-top: 10px;
  }